@{
    ViewBag.Title = "Shippers Page";
}
<h2>SHIPPERS LIST</h2>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<table class="table">

    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Company Name</th>
            <th scope="col">Phone</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var shipper in Model)
        {
            <tr>
                <th><input type="text" name="id" id="id_@shipper.id" value="@shipper.id" disabled /></th>

                <th><input type="text" name="companyName" id="idCompanyName_@shipper.id" value="@shipper.companyName" /></th>

                <th><input type="text" name="phone" id="idPhone_@shipper.id" value="@shipper.phone" /></th>

                <!-- DELETE desde tabla-->
                <th>
                    <a href="@Url.Action("Delete","Shippers", new { id = shipper.id })">
                        <i class="fa fa-trash-o" style="font-size:30px;" aria-hidden="true" onclick="return window.confirm('PLEASE CONFIRM DELETION @shipper.companyName')"></i>
                    </a>
                </th>

                <!--UPDATE con boton guardar-->
                <th>
                    <a>
                        <i class="fa fa-floppy-o" style="font-size:30px;" aria-hidden="true" onclick="update('@shipper.id'); return window.confirm('PLEASE CONFIRM THE UPDATING')"></i>
                    </a>
                </th>
            </tr>
        }

    </tbody>

</table>
<div>
    <h3>Insert a new shipper</h3>

    <input type="text" id="idCompanyNameAdd" placeholder="CompanyName" />

    <input type="text" id="idPhoneAdd" placeholder="Phone Number" />

    <input type="submit" class="btn btn-success" value="Add" onclick="add();" />

</div>


<script>
    //INSERT
    var add = function () {
        var companyName = $("#idCompanyNameAdd").val();
        var phone = $("#idPhoneAdd").val();
        var url = '@Url.Action("Insert","Shippers")/?companyName=' + companyName + '&phone='+ phone;
        location.href = url;
    };
    //UPDATE
    var update = function (id) {
        var id = document.querySelector("#id_"+id).value;
        var companyName = document.querySelector("#idCompanyName_" + id).value;
        var phone = document.querySelector("#idPhone_" + id).value;
        var url = '@Url.Action("Update","Shippers")/?id=' + id + '&companyName=' + companyName + '&phone=' + phone;
        location.href = url;
    };

</script>